.jumbotron {
    background-color: hsl(151, 77%, 69%);
    color: #ffffff;
    padding: 100px 25px;
}

.bg-grey {
    background-color: #f6f6f6;
}

.container-fluid {
    padding: 60px 50px;
}

.logo {
    color: hsl(151, 77%, 69%);;
    font-size: 200px;
}

.logo-small {
    color: hsl(151, 77%, 69%);;
    font-size: 50px;
}

@media screen and (max-width: 768px) {
    .cols-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
}